In [1]:
print("hello")

hello

In [4]:
if 5<2:
    print("YES")

In [6]:
if 5<2:
    print("yes")
else:
    print("no")

no

In [10]:
carname = "volvo"
print(carname)

volvo

In [13]:
x = 5 
y = 10
print(x+y)

15

In [14]:
x = 5 
y = 10
c=x+y
print(c)

15

In [20]:
x,y,z = "orange","ball","cat"
print("x value is:",x ,"\ny value is: ",y ,"\nz values is: ",z)

x value is: orange
y value is:  ball
z values is:  cat

In [21]:
x = y = z = "orange"
print(x,y,z)

orange orange orange

In [23]:
def myfunc():
    global x
    x = "fantastic"
    print(x)

In [24]:
x=5
print(type(x))

<class 'int'>

In [25]:
x="hello world "
print(type(x))

<class 'str'>

In [26]:
x=20.5
print(type(x))

<class 'float'>

In [30]:
x=['apple','ball','cat']
print(type(x))
print(x)

<class 'list'>
['apple', 'ball', 'cat']

In [31]:
x=('apple','ball','cat')
print(type(x))
print(x)

<class 'tuple'>
('apple', 'ball', 'cat')

In [36]:
for x in range (5):
    print("hello")

hello
hello
hello
hello
hello

In [48]:
for y in range (5):
    print("\n")
   
    for x in range (5>y):
        print("* ")

*


*


*


*


*

In [53]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [55]:
x = True
print(type(x))

<class 'bool'>

In [64]:
x=['apple','banana','cherry']
print(len(x))

3

In [67]:
#list changing the value
x=['A','B','C']
x[1]="apple"
print(x)

['A', 'apple', 'C']

In [70]:
#list changin the value in range
x=['A','B','C','D','E']
x[0:3]="apple","banana"
print(x)

['apple', 'banana', 'D', 'E']

In [84]:
#list inserting the value in array

x=["apple","ball","cat","dog","egg"]

x.insert(2,"check")

print(x)

['apple', 'ball', 'check', 'cat', 'dog', 'egg']

In [85]:
#add an item on list
x=['A','B','C']
x.append('ball')
print(x)

['A', 'B', 'C', 'ball']

In [82]:
#tupil chagning the value

x=("apple","banana","cat")
x[2]="ball"
print(x)

TypeError: 'tuple' object does not support item assignment